<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /TPE-Tomas-Gomez-C2/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ router.php?action=$1 [QSA,L]

    RewriteRule \.(?:css|js|jpe?g|gif|png)$ - [L]
    RewriteRule ^(.*)$ router.php?action=$1 [QSA,L]
</IfModule>
